.de-button {
  border: none !important;
  outline: none !important;
  background: #ffffff !important;
  font-size: 19px !important;
  font-weight: 400 !important;
  color: black !important;
  font-family: 'Poppins', sans-serif !important;
  text-transform: none !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 4px 48px !important;
  cursor: pointer !important;
  transition: all 300ms ease !important;
  gap: 20px !important;
  box-shadow: 0 0 4px rgb(199 235 255 / 48%), 0 4px 8px rgb(77 123 179 / 18%) !important;
  &:hover {
    background: #f4f8ff !important;
  }
  &.outlined {
    border: 2px solid #d4d7e7 !important;
  }

  &.rounded {
    border-radius: 42px !important;
  }

  &.primary {
    background: #23c1e8 !important;
    color: #ffffff !important;
    box-shadow: 0 0 4px rgb(35 193 232 / 48%), 0 4px 8px rgb(35 193 232 / 18%) !important;
    &:hover {
      background: darken(#23c1e8, 4%) !important;
    }
  }
}
