@use '/src/components/SplashScreen';

@use '/src/views/auth';

@use '/src/layouts/AuthLayout';

* {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  // margin: 0 auto;
  // max-width: 1500px;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
